body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(150deg,#add8e6,#dddddd );
    height: 100vh;
}

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50);
    width: 500px;
    background: #dddddd;
    border-radius: 10px;
}